html, body {
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
  overscroll-behavior-y: none;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

html {
  margin-bottom: 0px;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
}

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/*body*/
img {
  cursor: pointer;
}

h1 {
  font-family: Helvetica;
  color: black;
  text-justify: inter-character;
  font-size: 14px;
  line-height: 14px;
}

h2 {
  font-family: Helvetica;
  color: black;
  text-justify: inter-character;
  font-size: 14px;
  line-height: 14.5px;
}

h2:hover {
  font-family: Helvetica;
  color: black;
  text-decoration: underline;
  text-justify: inter-character;
  font-size: 14px;
  line-height: 14.5px;
}

p {
  font-family: Helvetica;
  color: black;
  text-decoration: none;
  text-justify: inter-character;
  font-size: 12px;
  line-height: 12.5px;
}

a {
  font-family: Helvetica;
  color: black;
  text-decoration: none;
  text-justify: inter-character;
  font-size: 12px;
  line-height: 12.5px;
}

a:hover {
  font-family: Helvetica;
  color: black;
  text-decoration: underline;
  text-justify: inter-character;
  font-size: 12px;
  line-height: 12px;
}

/*BOXES*/
.box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box1 {
  width: 70%;
  height: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box2 {
  width: 100%;
  height: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box3 {
  width: 100%;
  height: auto;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#box4{
  width: fit-content;
  height: auto;
  margin-top: -22px;
  padding-left: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 3px;
  background-color: white;
  display: none;
  position: absolute;
}

/*GRIGLIA INDEX*/
.grid-container1 {
  display: inline-grid;
  grid: auto / 15% 83%;
  grid-column-gap: 2%;
  grid-row-gap: 2vw;
  width: 100%;
}

.grid-item1 {
  margin: 0px;
  width: 100%;
  position: sticky;
}

.grid-item1:last-child {
  margin: 0px;
  width: 100%;
  display: block;
  overflow-y: scroll;
  height: 100vh;
  padding-left: 1px;
}

/*GRID INSIDE GRID*/
.grid-container2 {
  padding-top: 0em;
  display: inline-grid;
  grid: auto / 32% 32% 32%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  width: 100%;
  height: 100%;
}

.grid-item2 > img {
  width: 100%;
  height: auto;
}

.grid-item2 > img:hover + #box4 {
  display: block;
  background-color: white;
  color: black;
}

/*MODAL*/
.modal {
  display: none;
  position: relative;
  position: sticky;
  overflow-y: scroll;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 8px;
  padding-left: 1px;
}

.close {
    color: black;
    float: right;
    margin-top: 11px;
    font-size: 16px;
    cursor: pointer;
  }

  .close:hover {
    color: black;
    text-decoration: underline;
    float: right;
    margin-top: 11px;
    font-size: 16px;
    cursor: pointer;
  }

/*makes things responsive*/
/* Medium (tablet, 768px and down) */
@media only screen and (max-width: 1080px) {
  .grid-container2 {
    padding-top: 0em;
    display: inline-grid;
    grid: auto / 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 0.7%;
    width: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .grid-container1 {
    padding-top: 0em;
    display: inline-grid;
    grid: auto / 100%;
    grid-column-gap: 2%;
    grid-row-gap: 0.8%;
   width: 100%;
  }

  .grid-item1:last-child {
    margin: 0px;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    border-top: 1px solid black;
  }

  .grid-container2 {
    padding-top: 0em;
    display: inline-grid;
    grid: auto / 100%;
    grid-column-gap: 2%;
    grid-row-gap: 0.4%;
    width: 100%;
  }

  .modal {
    display: none;
    position: absolute;
    position: fixed;
    overflow-y: scroll;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0;
    padding-bottom: 0px;
    padding: 8px;
  }

  .box1 {
    width: 100%;
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}